.main {
  padding: 5%;
}

.navbar {
  background-color: #00002E;

}

.navbar-nav a{
  color:#B8E6E3;
}

body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

.navbar-fixed-bottom {
  font-size: 0.9em;
  background-color: #00001E;
}

.navbar-fixed-bottom .navbar-brand{
  font-size: 0.95em;
  padding:5px;
}
